$gold: #efc69b;
$burgundy: #af1b3f;
$byzantium: #473144;
$khaki: #ccb69b;
$crayola: #df9b6d;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=PT+Serif&display=swap');

html {
  box-sizing: border-box;
  color: $byzantium;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $gold;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: unset;
  font-weight: unset;
  margin: 0;
}

#root {
  display: grid;
  grid-template-areas:
    'navbar'
    'article'
    'footer';
  grid-template-rows: auto 1fr 200px;
  height: 100%;
}

nav {
  grid-area: navbar;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  h1 {
    font-size: 48px;
    font-weight: normal;
  }
}

article {
  grid-area: article;
}

footer {
  grid-area: footer;
}
