$gold: #efc69b;
$burgundy: #af1b3f;
$byzantium: #473144;
$khaki: #ccb69b;
$crayola: #df9b6d;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=PT+Serif&display=swap');

html {
  box-sizing: border-box;
  color: $byzantium;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $gold;
  min-width: calc(100vw - 20px);
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'PT Serif', serif;
  font-size: unset;
  font-weight: unset;
  margin: 0;
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

#root {
  display: grid;
  grid-template-areas:
    'navbar navbar'
    'sider article'
    'footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto auto;
}

nav {
  grid-area: navbar;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  border-bottom: 1px solid $crayola;
  padding: 20px;
  grid-template-columns: auto 1fr auto;
  h1 {
    font-size: 48px;
    font-weight: normal;
  }
  img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  svg {
    cursor: pointer;
    margin-left: 5px;
  }
}

article {
  grid-area: article;
}

footer {
  grid-area: footer;
}

section {
  grid-area: sider;
  padding: 20px;
  display: grid;
  place-items: center;
  grid-gap: 20px;
  grid-template-rows: auto 1fr;
  h2 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: normal;
    writing-mode: sideways-rl;
  }
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 10px;
  .subhead {
    &:first-letter {
      font-size: 144px;
      margin-right: 0.2em;
      margin-bottom: 0.2em;
      float: left;
      margin-top: 0.01em;
    }
  }
  p {
    grid-column: span 3;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0.002em;
  }
  h3 {
    font-size: 48px;
    grid-column: span 3;
  }
}
